/Data

docs/build/

LocalPreferences.toml
Manifest.toml

/docs/build
.vscode/settings.json

# Windows "Mark of the Web" (Zone.Identifier) ADS metadata can show up as
# real files on non-NTFS filesystems after extracting/copying archives.
*:Zone.Identifier*
C:/Users/P317151/Documents/data/Model_V1.0/20260217/Simplified alg/X30.0_Y=30.0_Z=10.0_Cdep=0.1_Layer_dep=1.0_Temp=0.3_timefctr=1.0_Steps_1=4000.0_2026-02-24_143342_Pr_distribution.png
C:/Users/P317151/Documents/data/Model_V1.0/20260217/Simplified alg/X30.0_Y=30.0_Z=10.0_Cdep=0.1_Layer_dep=1.0_Temp=0.3_timefctr=1.0_Steps_1=4000.0_2026-02-24_143342_Pr_step.png
C:/Users/P317151/Documents/data/Model_V1.0/20260217/Simplified alg/X30.0_Y=30.0_Z=10.0_Cdep=0.1_Layer_dep=1.0_Temp=0.3_timefctr=1.0_Steps_1=4000.0_2026-02-24_143342_V_Pr.png
C:/Users/P317151/Documents/data/Model_V1.0/20260217/Simplified alg/X30.0_Y=30.0_Z=10.0_Cdep=0.1_Layer_dep=1.0_Temp=0.3_timefctr=1.0_Steps_1=4000.0_2026-02-24_143342.xlsx
